<div class="row" style="position: relative;text-align: center;background-color: gray">
  <div class="col-md-4" style="padding-left: 150px;padding-right: 150px; height: 200px;color: white">
    <img src="../../assets/contact/address.png" style="height: 70px;width: 100px;">
    <p>中国湖北省武汉市洪山区珞喻路1037号 邮政编码: 430074</p>
  </div>

  <div class="col-md-4" style="padding-left: 150px;padding-right: 150px; height: 200px;color: white">
    <img src="../../assets/contact/phone.png" style="height: 70px;width: 70px;">
    <p>中国湖北省武汉市洪山区珞喻路1037号 邮政编码: 430074</p>
  </div>

  <div class="col-md-4" style="padding-left: 150px;padding-right: 150px; height: 200px;color: white">
    <img src="../../assets/contact/email.png" style="height: 70px;width: 70px;">
    <p>中国湖北省武汉市洪山区珞喻路1037号 邮政编码: 430074</p>
  </div>

</div>
