<div id="backgroundheight" style="margin: 0;padding: 0">
  <img src="./../../assets/bg/bg1_1.jpg" class="img-responsive" style="z-index: -1;position: fixed;height: 800px;">

  <div class="row" id="navbarbackground" style="z-index: 999;position: fixed;color: white;opacity: 70%;width: 100%">
    <div class="text Column">
      <button class="btn navbarbutton" [routerLink]="['/home']">
        关于我们
        <span class="highlight" style="font-size: 15px">About Us</span>
      </button>
    </div>
    <div class="text Column">
      <button class="btn navbarbutton" [routerLink]="['/product']">
        产品介绍
        <span class="highlight" style="font-size: 15px">Our Product</span>
      </button>
    </div>
    <div class="text Column">
      <button class="btn navbarbutton" [routerLink]="['/contact']">
        联系我们
        <span class="highlight" style="font-size: 15px">Contact us</span>
      </button>
    </div>
  </div>






</div>
