
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<img src="./../../assets/bg/CPBG1.png" *ngIf="bgNo === 1" class="img-responsive" style="z-index: -1;position: fixed;width: 100%;height: 1000px">

<img src="./../../assets/bg/CPBG2.png" *ngIf="bgNo === 2" class="img-responsive" style="z-index: -1;position: fixed;width: 100%;height: 1000px">

<img src="./../../assets/bg/CPBG3.png" *ngIf="bgNo === 3" class="img-responsive" style="z-index: -1;position: fixed;width: 100%;height: 1000px">

<img src="./../../assets/bg/CPBG4.png" *ngIf="bgNo === 4" class="img-responsive" style="z-index: -1;position: fixed;width: 100%;height: 1000px">

<div id="navbarid" class="one" style="height: 150px">
<div class="Row" id="navbarbackground" style="z-index: 999;position: fixed;opacity: 70%;width: 80%;">
  <div class="text Column">
    <button class="btn navbarbutton" [routerLink]="['/home']">
      关于我们
      <span class="highlight" style="font-size: 15px;">About Us</span>
    </button>
  </div>
  <div class="text Column">
    <button class="btn navbarbutton" [routerLink]="['/product']">
      产品介绍
      <span class="highlight" style="font-size: 15px">Our Product</span>
    </button>
  </div>
  <div class="text Column">
    <button class="btn navbarbutton" [routerLink]="['/contact']">
      联系我们
      <span class="highlight" style="font-size: 15px">Contact us</span>
    </button>
  </div>
</div>


  <div class="Row" id="navbarbackground1" style="z-index: 999;position: fixed;opacity: 70%;width: 100%;">
    <div class="text Column">
      <button class="btn navbarbutton" style="color: white" [routerLink]="['/home']">
        关于我们
        <span class="highlight" style="font-size: 15px;">About Us</span>
      </button>
    </div>
    <div class="text Column">
      <button class="btn navbarbutton" style="color: white" [routerLink]="['/product']">
        产品介绍
        <span class="highlight" style="font-size: 15px">Our Product</span>
      </button>
    </div>
    <div class="text Column">
      <button class="btn navbarbutton" style="color: white" [routerLink]="['/contact']">
        联系我们
        <span class="highlight" style="font-size: 15px">Contact us</span>
      </button>
    </div>
  </div>


<div style="margin-left: 80%;background: transparent;">
  <div [hidden]="fourbuttonshow">
    <button id="allproduct" (click)="chooseallproducts()" style="background: transparent;border: 1px solid transparent;font-size: 2rem;position: absolute;right: 20px;position: fixed;z-index: 999" class="btn">
      All product &nbsp;&nbsp;<span class="glyphicon glyphicon-shopping-cart" style=""></span>
    </button>
  </div>


  <div [hidden]="!fourbuttonshow">


  <div class="text" style="color: white;top: 0px;right: 50px;position: fixed">
    <div class="zhengbutton" style="margin-left: 60%;margin-right: 35%;background: white;height: 165px;width: 300px;">
      <button style="width: 100%;height: 100%;background: orangered;color: black;font-size: 45px;" class="btn" (click)="zheng()"><p style="margin-left:40px;width:80px">蒸<span style="font-size: 1.3rem">&nbsp;房</span><br><p style="font-size: 0.9rem;margin-top: -5px">nano-spa room</p></button>
    </div>
  </div>

  <div class="text" style="color: white;top: 165px;right: 50px;position: fixed">
    <div class="zhengbutton" style="margin-left: 60%;margin-right: 35%;background: white;height: 165px;width: 300px;">
      <button style="width: 100%;height: 100%;background: cadetblue;color: black;font-size: 45px;" class="btn" (click)="zhu()"><p style="margin-left:40px;width:80px">器<span style="font-size: 1.3rem">&nbsp;用</span><br><p style="font-size: 0.9rem;margin-top: -5px">nano-tool home</p></button>
    </div>
  </div>

  <div class="text" style="color: white;top: 330px;right: 50px;position: fixed">
    <div class="zhengbutton" style="margin-left: 60%;margin-right: 35%;background: white;height: 165px;width: 300px;">
      <button style="width: 100%;height: 100%;background: pink;color: black;font-size: 45px;" class="btn" (click)="yi()"><p style="margin-left:40px;width:80px">暖<span style="font-size: 1.3rem">&nbsp;衣</span><br><p style="font-size: 0.9rem;margin-top: -5px">nano-cloth warm</p></button>
    </div>
  </div>

  <div class="text" style="color: white;top: 495px;right: 50px;position: fixed">
    <div class="zhengbutton" style="margin-left: 60%;margin-right: 35%;background: white;height: 165px;width: 300px;">
      <button style="width: 100%;height: 100%;background: mediumpurple;color: black;font-size: 45px;" class="btn" (click)="shi()"><p style="margin-left:40px;width:80px">康<span style="font-size: 1.3rem">&nbsp;品</span><br><p style="font-size: 0.9rem;margin-top: -5px">nano-food health</p></button>
    </div>
  </div>

    <button (click)="chooseallproducts()" style="background: transparent;border: 1px solid transparent;font-size: 3rem;position: fixed;right: 0" class="btn">
      <span class="glyphicon glyphicon-remove-sign" ></span>
    </button>

  </div>



</div>
</div>


<!--    <div class="text" style="width: 50%;background: transparent;height: 2000px">-->
<!--      <button class="btn navbarbutton" >-->
<!--        关于我们-->
<!--        <span class="highlight" style="font-size: 15px;">About Us</span>-->
<!--      </button>-->
<!--    </div>-->

<!--<div class="text" style="margin-left:50%;width: 50%;background: red">-->
<!--  <button class="btn navbarbutton" >-->
<!--    关于我们-->
<!--    <span class="highlight" style="font-size: 15px;">About Us</span>-->
<!--  </button>-->
<!--</div>-->


<div id="block_container">
<div id="zheng">
  <h1>蒸</h1>
  <div id="bloc1" style="margin-left: 0;width: 50%;word-break: break-word;">
    <p style="margin-left: 0;width: 50%;word-break: break-word;padding: 10px 10% 40px 10%;font-size: 2.0rem">
      <span style="font-size: 5.0rem">&nbsp;纳米汗蒸</span>是结合传统中医汗法与最新纳米科技的新型养生方式。
      <br>它是利用电力加热，将汗蒸房内的温度控制在38至42度之间。这个温度相当于夏天的高温天气，模拟了我们处于胜夏时节的自然出汗环境，从而让我们的身体能够更好的进行调节，又不会因为高温而受到损伤。
      <br>在普通的热环境中，因为汗液除了水分外，还有许多利于细菌生长繁殖的养分，所以会产生令人难受的粘臭现象。这也是导致很多人不喜欢出汗的原因。
      <br>而纳米汗蒸将能够释放负离子与生物波的奇冰石进行纳米化工艺后，与有机物丙纶结合生产出的纳米被布满汗蒸房，使汗蒸房内的负离子达到10000个/立方厘米的超高浓度，从而使汗蒸房像雨后的森林一样令人感到清新。
      <br> 与此同时，纳米材料释放的生物波与人体的生物波长相近，能够与人体的生物波产生共振，从而让细胞运动起来，可以激活休眠的细胞，活化老化受损的细胞。
      <br>除此之外，纳米汗蒸更重要后部分是提供经纳米材料处理过纳米弱碱性水。这种纳米弱碱性水是小分子团活性水，能够更好帮助人体清理体内的毒素垃圾，净化我们的血液与体液，帮助我们排酸性废物，从而让身体回复到更健康的弱碱性。

    </p>
  </div>
  <div id="bloc2" style="margin-left: 50%;width: 50%;">




      <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel" style="height: auto;width: 40%;margin-left: 60%;margin-top: -500px;height: 500px">
        <ol class="carousel-indicators" >
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="slide-image tesheintroductionimage" src="./../../assets/chanpin/CP1_1.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="slide-image tesheintroductionimage" src="./../../assets/chanpin/CP1_1.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="slide-image tesheintroductionimage" src="./../../assets/chanpin/CP1_1.png" alt="Third slide">
          </div>
        </div>

        <a class="left carousel-control-prev" href="javascript:$('.carousel').carousel('prev')" style="height: 280px;
        width: 50px;
        outline: black;
        background-size: 100%, 100%;
        border: 1px solid black;
        background-color: black;color: red">
          <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
        </a>
        <a class="right carousel-control-next" href="javascript:$('.carousel').carousel('next')" style="height: 280px;
        width: 50px;
        outline: black;
        background-size: 100%, 100%;
        border: 1px solid black;
        background-color: black;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>

<!--    <img src="./../../assets/chanpin/CP1_1.png" style="width: 30%;margin-left: 1%;position: fixed;top: 400px;left: 60%">-->
  </div>
  <div id="hr1">
    <hr>
  </div>
</div>

  <div id="yi">
  <h1>衣</h1>

  <div  id="bloc4" style="margin-left: 0;width: 50%;">
    <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel" style="height: auto;width: 40%;margin-left: 5%;margin-top: 100px">
      <ol class="carousel-indicators" >
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="slide-image tesheintroductionimage" src="./../../assets/chanpin/CP21_1.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="slide-image tesheintroductionimage" src="./../../assets/chanpin/CP21_1.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="slide-image tesheintroductionimage" src="./../../assets/chanpin/CP21_1.png" alt="Third slide">
        </div>
      </div>

      <a class="left carousel-control-prev" href="javascript:$('.carousel').carousel('prev')" style="height: 280px;
        width: 50px;
        outline: black;
        background-size: 100%, 100%;
        border: 1px solid black;
        background-color: black;color: red">
        <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
      </a>
      <a class="right carousel-control-next" href="javascript:$('.carousel').carousel('next')" style="height: 280px;
        width: 50px;
        outline: black;
        background-size: 100%, 100%;
        border: 1px solid black;
        background-color: black;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>

    <!--    <img src="./../../assets/chanpin/CP1_1.png" style="width: 30%;margin-left: 1%;position: fixed;top: 400px;left: 60%">-->
  </div>

    <div id="bloc3" style="margin-left: 50%;width: 50%;word-break: break-word;font-size: 2.0rem">
      <p id="bloc3p" style="margin-left: 50%;width: 50%;word-break: break-word;padding: 10px 10% 40px 10%;">
        健康的人体生物波段为5.6-14微米，最佳是9.4微米。生物波紊乱易导致失眠多梦，神经衰弱、忧郁症、偏头痛、精神性癫痫等精神方面的疾病，微循环障碍可导致414种慢性疾病和33种恶性肿瘤，被称为百病之源，是引发疾病的三大原因之一。
        <br>
        安然<span style="font-size: 5.0rem">&nbsp;纳米纺织品</span>释放的生物波波段为2-18微米，正好与人体生物波波段重叠，可穿透人体皮肤5到10毫米的深度，具有活血化瘀、扩张血管、活气行血、疏通经络、平衡经络、活化细胞，改善人体微循环，双向调节异常生物波作用，使人体处于健康状态。
        <br>
        安然纳米微元生化纺织品每立方厘米可以产生6700个<span style="font-size: 5.0rem">&nbsp;负离子</span>，能有效调节内分泌失调，使人体如同置身于瀑布，海滨，森林公园。


      </p>
    </div>
</div>






  <div id="shi">
    <h1>食</h1>
    <div id="bloc5" style="background:black;margin-left: 0;width: 50%;word-break: break-word;">
      <p style="margin-left: 0;width: 50%;word-break: break-word;padding: 10px 10% 40px 10%; font-size: 2.0rem">
        <span style="font-size: 5.0rem">&nbsp;营养保健产品</span> 采用中医君臣佐使的复方配伍技术配成。
        <br>
        所有成分均采自天然绿色原料，利用分子生物技术从名贵中药材中提取其具有药用价值的活性成分，再按照各种体质和疾病的特点及中医的经典配伍理论，严谨配伍而成。
        <br>每个配方中，既有针对“主病主症”起主导作用的君药，又有对“次病次症”起矫正作用的臣药，既有辅助君药、臣药的佐药，又有起“药引子”作用的使药。
        <br>
        <span style="font-size: 5.0rem">&nbsp;营养保健产品</span>采用纳米级中药微粒的提取技术。所有中药提取物均采用纳米微粒提取设备进行高精度提取。
        <br>使提取微粒的直径均在几十个纳米的范围之内。中药提取物当到达了纳米的级别以后，会体现出更高的活性、靶向性与穿透性，对机体会产生更高的调节与纠正能力。
        <br>营养保健产品采用了多维免疫力构建技术。安然纳米的每一款营养保健产品，在配方设计的时候，均考虑到了机体免疫力的维护。
        <br>有的产品从活性肽角度维护免疫力，有的产品从综合营养素的角度去维护免疫力，有的产品从清除自由基的角度去维护免疫力，有的产品则是从中医整体平衡的角度去维护免疫力。


      </p>
    </div>
    <div  id="bloc6" style="background:black;margin-left: 50%;width: 50%;">




      <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel" style="height: auto;width: 40%;margin-left: 1%;position: fixed;top: 350px;left: 55%">
        <ol class="carousel-indicators" >
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="slide-image tesheintroductionimage" src="./../../assets/chanpin/CP16_1.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="slide-image tesheintroductionimage" src="./../../assets/chanpin/CP16_1.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="slide-image tesheintroductionimage" src="./../../assets/chanpin/CP16_1.png" alt="Third slide">
          </div>
        </div>

        <a class="left carousel-control-prev" href="javascript:$('.carousel').carousel('prev')" style="height: 280px;
        width: 50px;
        outline: black;
        background-size: 100%, 100%;
        border: 1px solid black;
        background-color: black;color: red">
          <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
        </a>
        <a class="right carousel-control-next" href="javascript:$('.carousel').carousel('next')" style="height: 280px;
        width: 50px;
        outline: black;
        background-size: 100%, 100%;
        border: 1px solid black;
        background-color: black;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>

      <!--    <img src="./../../assets/chanpin/CP1_1.png" style="width: 30%;margin-left: 1%;position: fixed;top: 400px;left: 60%">-->
    </div>
  </div>



  <div id="zhu">
    <h1>住</h1>
    <div id="bloc7" style="background:black;margin-left: 0;width: 50%;word-break: break-word;">
      <p style="margin-left: 0;width: 50%;word-break: break-word;padding: 10px 10% 40px 10%;font-size: 2.0rem">
        <span style="font-size: 5.0rem">&nbsp;空气净化器</span>中的初级过滤器与空调的滤网基本一致，主要对大颗粒物的毛发、灰尘、皮屑等进行过滤，由白色尼龙线编织成的滤网，可以反复清洗。
        <br>广泛应用于医疗设备及实验的HEPA滤层，强力吸附对人体有害的颗粒物PM2.5~0.3，安然纳神空气净化器PM2.5净化率99%，PM0.3净化率99%，真正的空气净化小能手！
        <br>微颗粒活性炭均匀分布，能全面与空气接触净化效果比传统大颗粒活性炭提升5~10倍，宠物气味、装修污染、烟雾气味统统不放过，TVOC净化率97%，甲醛净化率98%，让你尽情呼吸新鲜空气！
        <br>
        <br><span style="font-size: 5.0rem">&nbsp;饮水机净水</span>经三级过滤净化，洁净安全，保留矿物元素，保持元素平衡。
        <br> <span style="font-size: 5.0rem">&nbsp;直饮水</span>经天然矿石制备的安然纳米麦饭石滤芯处理后，吸附杂质，分子团簇变小，渗透力变强，还原天然山泉般甘醇口感。
        <br><span style="font-size: 5.0rem">&nbsp;氧化水</span>净水经自主研发的贵金属电极板电解处理后，得到氧化水，PH值呈弱酸性，接近人体皮肤PH值，柔和抑菌，呵护肌肤。
        <br><span style="font-size: 5.0rem">&nbsp;还原水</span>净水经自主研发的贵金属电极板电解处理后，得到还原水，呈弱碱性，分子团簇小，富含氢氧根，具备抗氧化能力，达到了健康饮水6大标准。

      </p>
    </div>
    <div  id="bloc8" style="background:black;margin-left: 50%;width: 50%;">




      <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel" style="height: auto;width: 40%;margin-left: 1%;position: fixed;top: 350px;left: 55%">
        <ol class="carousel-indicators" >
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="slide-image tesheintroductionimage" src="./../../assets/chanpin/CP7_1.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="slide-image tesheintroductionimage" src="./../../assets/chanpin/CP7_1.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="slide-image tesheintroductionimage" src="./../../assets/chanpin/CP7_1.png" alt="Third slide">
          </div>
        </div>

        <a class="left carousel-control-prev" href="javascript:$('.carousel').carousel('prev')" style="height: 280px;
        width: 50px;
        outline: black;
        background-size: 100%, 100%;
        border: 1px solid black;
        background-color: black;color: red">
          <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
        </a>
        <a class="right carousel-control-next" href="javascript:$('.carousel').carousel('next')" style="height: 280px;
        width: 50px;
        outline: black;
        background-size: 100%, 100%;
        border: 1px solid black;
        background-color: black;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>

      <!--    <img src="./../../assets/chanpin/CP1_1.png" style="width: 30%;margin-left: 1%;position: fixed;top: 400px;left: 60%">-->
    </div>
  </div>
</div>




<!--<button (click)="chooseallproducts()" style="background: transparent;border: 1px solid red;font-size: 3rem" class="btn">-->
<!--  <span class="glyphicon glyphicon-shopping-cart" ></span>-->
<!--</button>-->
