
<div id="backgroundheight" style="margin: 0;padding: 0">
<img src="./../../assets/bg/bg1_1.jpg" class="img-responsive" style="z-index: -1;position: fixed;height: 660px;">





<div class="text" style="z-index: 999;position: absolute;color: white;top: 0px;right: 50px;position: fixed">
  <div class="zhengbutton" style="margin-left: 60%;margin-right: 35%;background: white;height: 165px;width: 300px;">
    <button style="width: 100%;height: 100%;background: pink;color: black;font-size: 45px;" class="btn" (click)="zheng()"><p style="margin-left:40px;width:80px">蒸<span style="font-size: 1.3rem">&nbsp;房</span><br><p style="font-size: 0.9rem;margin-top: -5px">nano-spa room</p></button>
  </div>
</div>

<div class="text" style="z-index: 999;position: absolute;color: white;top: 165px;right: 50px;position: fixed">
  <div class="zhengbutton" style="margin-left: 60%;margin-right: 35%;background: white;height: 165px;width: 300px;">
    <button style="width: 100%;height: 100%;background: cadetblue;color: black;font-size: 45px;" class="btn" (click)="zhu()"><p style="margin-left:40px;width:80px">器<span style="font-size: 1.3rem">&nbsp;用</span><br><p style="font-size: 0.9rem;margin-top: -5px">nano-tool home</p></button>
  </div>
</div>

<div class="text" style="z-index: 999;position: absolute;color: white;top: 330px;right: 50px;position: fixed">
  <div class="zhengbutton" style="margin-left: 60%;margin-right: 35%;background: white;height: 165px;width: 300px;">
    <button style="width: 100%;height: 100%;background: orange;color: black;font-size: 45px;" class="btn" (click)="yi()"><p style="margin-left:40px;width:80px">暖<span style="font-size: 1.3rem">&nbsp;衣</span><br><p style="font-size: 0.9rem;margin-top: -5px">nano-cloth warm</p></button>
  </div>
</div>

<div class="text" style="z-index: 999;position: absolute;color: white;top: 495px;right: 50px;position: fixed">
  <div class="zhengbutton" style="margin-left: 60%;margin-right: 35%;background: white;height: 165px;width: 300px;">
    <button style="width: 100%;height: 100%;background: mediumpurple;color: black;font-size: 45px;" class="btn" (click)="shi()"><p style="margin-left:40px;width:80px">康<span style="font-size: 1.3rem">&nbsp;品</span><br><p style="font-size: 0.9rem;margin-top: -5px">nano-food health</p></button>
  </div>
</div>

<div class="text" style="z-index: 999;position: absolute;color: white;top: 300px;">
  <div id="smallphotobackground" style="margin-left: 85%; margin-right: 35%; width: 614px; height: 1000px; background: mediumpurple;">
    <img src="./../../assets/bg/bg1.jpg" style="width: 600px;margin-left: 1%;margin-right: 10%;padding-top: 5px">
    <img src="./../../assets/bg/bg1.jpg" style="width: 600px;margin-left: 1%;margin-right: 10%;padding-top: 0px">
  </div>


</div>
</div>


<div class="text" style="z-index: 999;top: 20px;position: fixed;color: white;left: 500px;background: black;opacity: 70%">
  <button class="btn" style="font-size: 30px;padding: 20px;background: black;color: white;">
    关于我们
    <span class="highlight" style="font-size: 20px">About Us</span>
  </button>
</div>
<div class="text" style="z-index: 999;top: 20px;position: fixed;color: white;left: 800px;background: black;opacity: 70%">
  <button class="btn" style="font-size: 30px;padding: 20px;background: black;color: white;">
    产品介绍
    <span class="highlight" style="font-size: 20px">Our Product</span>
  </button>
</div>
<div class="text" style="z-index: 999;top: 20px;position: fixed;color: white;left: 1100px;opacity: 70%">
  <button class="btn" style="font-size: 30px;padding: 20px;background: black;color: white;">
    联系我们
    <span class="highlight" style="font-size: 20px">Contact us</span>
  </button>
</div>



<div id="bottomcontact" style="color: black;font-size: 1.5rem;position: fixed;z-index: 999;background: black;color: white;width: 100%;margin-left: 0">
  Support contacts
  &nbsp;&nbsp;&nbsp;
  1800 940 522
  &nbsp;&nbsp;&nbsp;
  support@ancc.com.au
</div>

