<img src="./../../assets/bg/bg1_1.jpg" class="img-responsive" style="width: 100%;z-index: -1;position: fixed;height: 660px">
<div class="text" style="z-index: 999;top: 20px;position: absolute;color: white;left: 500px">
  <p style="font-size: 30px">
    关于我们
    <span class="highlight" style="font-size: 20px">About Us</span>
  </p>
  </div>
<div class="text" style="z-index: 999;top: 20px;position: absolute;color: white;left: 800px">
  <p style="font-size: 30px">
    产品介绍
    <span class="highlight" style="font-size: 20px">Our Product</span>
  </p>
</div>
<div class="text" style="z-index: 999;top: 20px;position: absolute;color: white;left: 1100px">
  <p style="font-size: 30px">
    联系我们
    <span class="highlight" style="font-size: 20px">Contact us</span>
  </p>
</div>


<div class="text" style="z-index: 999;position: absolute;color: white;top: 8px;right: 50px;position: fixed">
  <div style="margin-left: 60%;margin-right: 35%;background: white;height: 165px;width: 80px;">
    <button style="width: 100%;height: 100%;background: pink;color: black;font-size: 25px" class="btn">蒸</button>
  </div>
</div>

<div class="text" style="z-index: 999;position: absolute;color: white;top: 173px;right: 50px;position: fixed">
  <div style="margin-left: 60%;margin-right: 35%;background: white;height: 165px;width: 80px;">
    <button style="width: 100%;height: 100%;background: cornflowerblue;color: black;font-size: 25px" class="btn">住</button>
  </div>
</div>

<div class="text" style="z-index: 999;position: absolute;color: white;top: 338px;right: 50px;position: fixed">
  <div style="margin-left: 60%;margin-right: 35%;background: white;height: 165px;width: 80px;">
    <button style="width: 100%;height: 100%;background: orange;color: black;font-size: 25px" class="btn">衣</button>
  </div>
</div>

<div class="text" style="z-index: 999;position: absolute;color: white;top: 503px;right: 50px;position: fixed">
  <div style="margin-left: 60%;margin-right: 35%;background: white;height: 165px;width: 80px;">
    <button style="width: 100%;height: 100%;background: mediumpurple;color: black;font-size: 25px" class="btn">食</button>
  </div>
</div>

<div class="text" style="z-index: 999;position: absolute;color: white;top: 300px;">
  <div style="margin-left: 60%;margin-right: 35%;background: white;width: 750px;height: 800px">
    <img src="./../../assets/bg/bg1.jpg" style="width: 600px;margin-left: 10%;margin-right: 10%;padding-top: 30px">
    <img src="./../../assets/bg/bg1.jpg" style="width: 600px;margin-left: 10%;margin-right: 10%;padding-top: 0px">
  </div>
</div>
